{% extends "CmarMeetingBundle::base.html.twig" %}
{% block title %}
eMeeting
{% endblock %}

{% block body %}
  <div class="np" style="padding: 30px 10px 20px 60px; font-size: 17px; margin: 25px">
      <table style="margin: 10px 0px 10px 100px">
        <tbody>
          <tr>
            <td class="label">
	      You do not have access to this aplication.
            </td>
          </tr>
          <tr>
            <td class="label">
		You have more information about this service in the <a style="font-weight: normal; text-decoration: none" target="_blank" href="http://digimar.campusdomar.es/colaboracion-audiovisual/videoconferencia-web/">DigiMAR web</a>
            </td>
          </tr>
        </tbody>
      </table>

  </div>

{% endblock %}
