<div style="font-weight: bolder; text-align:center; text-shadow: 0px 1px 0px black">
  <div style="font-size: 36px; padding: 20px"><span class="icon check"></span>  Welcome to Campus do Mar!</div>
  <div>Password reset correctly</div>
  <div style="margin: 20px 235px 0px; text-shadow: 0px 1px 0px black; border: solid 2px"><a href="{{ path('index') }}" style="text-decoration: none; color:#FFF">Return to the aplication</a></div>
</div>
